<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
<!--

    <ion-tab title="Login" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" menu-close ng-click="authenticated(facebook)">
        <ion-nav-view name="login"></ion-nav-view>
    </ion-tab>
-->

    <!-- Search Tab -->
    <ion-tab title="Search" icon-off="ion-ios-search" icon-on="ion-ios-search-strong" href="#/tab/search">
        <ion-nav-view name="tab-search"></ion-nav-view>
    </ion-tab>

    <!-- Store Tab -->
    <ion-tab title="Store" icon-off="ion-ios-home-outline" icon-on="ion-ios-home" href="#/tab/stores">
        <ion-nav-view name="tab-stores"></ion-nav-view>
    </ion-tab>

    <!-- Log Tab -->
    <ion-tab title="Log" icon-off="ion-ios-gear-outline" icon-on="ion-gear-a" href="#/tab/logs">
        <ion-nav-view name="tab-logs"></ion-nav-view>
    </ion-tab>

</ion-tabs>